<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.systemui.overlay">

    <application android:hasCode="false" />
    <overlay 
     android:targetPackage="com.android.systemui"
     android:isStatic="true"
     android:priority="999"/>
                   
</manifest>