<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="31" android:compileSdkVersionCodename="12" package="com.mediatek.systemuioverlay" platformBuildVersionCode="31" platformBuildVersionName="12">
    <application android:extractNativeLibs="false"/>
    <overlay android:isStatic="true" android:priority="1000" android:targetPackage="com.android.systemui"/>
</manifest>